{{define "footer"}}
<!--<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http:////maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="http://gdgcatania.info/assets/js/ripples.min.js"></script>
        <script src="http://gdgcatania.info/assets/js/material.min.js"></script>
         <script src="http://gdgcatania.info/assets/js/vertical-scroll.js"></script>
        <script>
            $(document).ready(function() {
                $.material.init();
            });
        </script>-->

    </body>

</html>
{{end}}